<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CleanArch.Infrastructure.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CleanArch.Infrastructure.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CleanArch.Infrastructure.Settings>
            <setting name="dbName" serializeAs="String">
                <value>YourDatabaseName</value>
            </setting>
            <setting name="dbAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="dbUser" serializeAs="String">
                <value>YourUserName</value>
            </setting>
            <setting name="dbPass" serializeAs="String">
                <value>YourPassword</value>
            </setting>
        </CleanArch.Infrastructure.Settings>
    </userSettings>
    <applicationSettings>
        <CleanArch.Infrastructure.Settings>
            <setting name="DbType" serializeAs="String">
                <value>Postgresql</value>
            </setting>
        </CleanArch.Infrastructure.Settings>
    </applicationSettings>
</configuration>